In [1]:
import pandas as pd

In [3]:
pd.read_csv("data_clean.csv")

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [23]:
weather_df=pd.read_csv("data_clean.csv")

In [25]:
weather_df

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [27]:
weather_df.shape

(158, 10)

In [29]:
weather_df.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

In [31]:
weather_df.isna().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [33]:
weather_df.drop(labels="Unnamed: 0",axis=1)

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0     41.0    190.0   7.4     67     5    1  2010    67       S
1     36.0    118.0   8.0     72     5    2  2010    72       C
2     12.0    149.0  12.6     74     5    3  2010    74      PS
3     18.0    313.0  11.5     62     5    4  2010    62       S
4      NaN      NaN  14.3     56     5    5  2010    56       S
..     ...      ...   ...    ...   ...  ...   ...   ...     ...
153   41.0    190.0   7.4     67     5    1  2010    67       C
154   30.0    193.0   6.9     70     9   26  2010    70      PS
155    NaN    145.0  13.2     77     9   27  2010    77       S
156   14.0    191.0  14.3     75     9   28  2010    75       S
157   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]

In [35]:
weather_df["Ozone"].unique()

array([ 41.,  36.,  12.,  18.,  nan,  28.,  23.,  19.,   8.,   7.,  16.,
        11.,  14.,  34.,   6.,  30.,   1.,   4.,  32.,  45., 115.,  37.,
        29.,  71.,  39.,  21.,  20.,  13., 135.,  49.,  64.,  40.,  77.,
        97.,  85.,  10.,  27.,  48.,  35.,  61.,  79.,  63.,  80., 108.,
        52.,  82.,  50.,  59.,   9.,  78.,  66., 122.,  89., 110.,  44.,
        65.,  22.,  31., 168.,  73.,  76., 118.,  84.,  96.,  91.,  47.,
        24.,  46.])

In [37]:
weather_df["Solar.R"].unique()

array([190., 118., 149., 313.,  nan, 299.,  99.,  19., 194., 256., 290.,
       274.,  65., 334., 307.,  78., 322.,  44.,   8., 320.,  25.,  92.,
        66., 266.,  13., 252., 223., 279., 286., 287., 242., 186., 220.,
       264., 127., 273., 291., 323., 259., 250., 148., 332., 191., 284.,
        37., 120., 137., 150.,  59.,  91., 135.,  47.,  98.,  31., 138.,
       269., 248., 236., 101., 175., 314., 276., 267., 272., 139.,  48.,
       260., 285., 187.,   7., 258., 295., 294.,  81.,  82., 213., 275.,
       253., 254.,  83.,  24.,  77., 255., 229., 207., 222., 192., 157.,
        64.,  71.,  51., 115., 244.,  36., 212., 238., 215., 153., 203.,
       225., 237., 188., 167., 197., 183., 189.,  95., 230., 112., 224.,
        27., 201.,  14.,  49.,  20., 193., 145., 131.])

In [39]:
weather_df["Weather"].unique()

array(['S', 'C', 'PS', nan], dtype=object)

In [41]:
weather_df.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Day,Year,Temp
count,158.000000,120.000000,151.000000,158.000000,158.000000,158.0,158.000000
mean,79.500000,41.583333,185.403974,9.957595,16.006329,2010.0,77.727848
std,45.754781,32.620709,88.723103,3.511261,8.997166,0.0,9.377877
min,1.000000,1.000000,7.000000,1.700000,1.000000,2010.0,56.000000
25%,40.250000,18.000000,119.000000,7.400000,8.000000,2010.0,72.000000
50%,79.500000,30.500000,197.000000,9.700000,16.000000,2010.0,78.500000
75%,118.750000,61.500000,257.000000,11.875000,24.000000,2010.0,84.000000
max,158.000000,168.000000,334.000000,20.700000,31.000000,2010.0,97.000000

In [43]:
weather_df["Year"].unique()

array([2010], dtype=int64)

In [45]:
weather_df.drop(labels="Year",axis=1)

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Temp Weather
0             1   41.0    190.0   7.4     67     5    1    67       S
1             2   36.0    118.0   8.0     72     5    2    72       C
2             3   12.0    149.0  12.6     74     5    3    74      PS
3             4   18.0    313.0  11.5     62     5    4    62       S
4             5    NaN      NaN  14.3     56     5    5    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1    67       C
154         155   30.0    193.0   6.9     70     9   26    70      PS
155         156    NaN    145.0  13.2     77     9   27    77       S
156         157   14.0    191.0  14.3     75     9   28    75       S
157         158   18.0    131.0   8.0     76     9   29    76       C

[158 rows x 9 columns]

In [49]:
weather_df["Ozone"]=weather_df["Ozone"].fillna(weather_df["Ozone"].mean())

In [78]:
weather_df.drop(labels=["Unnamed: 0","Year"],axis=1)

         Ozone     Solar.R  Wind Temp C Month  Day  Temp Weather
0    41.000000  190.000000   7.4     67     5    1    67       S
1    36.000000  118.000000   8.0     72     5    2    72       C
2    12.000000  149.000000  12.6     74     5    3    74      PS
3    18.000000  313.000000  11.5     62     5    4    62       S
4    41.583333  185.403974  14.3     56     5    5    56       S
..         ...         ...   ...    ...   ...  ...   ...     ...
153  41.000000  190.000000   7.4     67     5    1    67       C
154  30.000000  193.000000   6.9     70     9   26    70      PS
155  41.583333  145.000000  13.2     77     9   27    77       S
156  14.000000  191.000000  14.3     75     9   28    75       S
157  18.000000  131.000000   8.0     76     9   29    76       C

[158 rows x 8 columns]

In [53]:
weather_df["Solar.R"]=weather_df["Solar.R"].fillna(weather_df["Solar.R"].mean())

In [55]:
weather_df

,Unnamed: 0,Ozone,Solar.R,Wind,Temp C,Month,Day,Year,Temp,Weather
0,1,41.000000,190.000000,7.4,67,5,1,2010,67,S
1,2,36.000000,118.000000,8.0,72,5,2,2010,72,C
2,3,12.000000,149.000000,12.6,74,5,3,2010,74,PS
3,4,18.000000,313.000000,11.5,62,5,4,2010,62,S
4,5,41.583333,185.403974,14.3,56,5,5,2010,56,S
...,...,...,...,...,...,...,...,...,...,...
153,154,41.000000,190.000000,7.4,67,5,1,2010,67,C
154,155,30.000000,193.000000,6.9,70,9,26,2010,70,PS
155,156,41.583333,145.000000,13.2,77,9,27,2010,77,S
156,157,14.000000,191.000000,14.3,75,9,28,2010,75,S
157,158,18.000000,131.000000,8.0,76,9,29,2010,76,C

In [57]:
weather_df.isna().sum()

Unnamed: 0    0
Ozone         0
Solar.R       0
Wind          0
Temp C        0
Month         0
Day           0
Year          0
Temp          0
Weather       3
dtype: int64

In [59]:
weather_df["Weather"].mode()

0    S
Name: Weather, dtype: object

In [70]:
weather_df["Weather"]=weather_df["Weather"].fillna(weather_df["Weather"].mode()[0])

In [72]:
weather_df.isna().sum()

Unnamed: 0    0
Ozone         0
Solar.R       0
Wind          0
Temp C        0
Month         0
Day           0
Year          0
Temp          0
Weather       0
dtype: int64

In [80]:
weather_df["Month"].unique()

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [84]:
weather_df[weather_df["Month"]=="May"]

    Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
23          24   32.0     92.0  12.0     61   May   24  2010    61       C

In [112]:
weather_df["Month"]=weather_df["Month"].replace(to_replace="May",value='5')

In [114]:
weather_df["Month"]=weather_df["Month"].astype(int)

In [116]:
weather_df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month        int32
Day          int64
Temp         int64
Weather     object
dtype: object

In [118]:
del weather_df["Temp C"]

KeyError: 'Temp C'

In [96]:
del weather_df["Unnamed: 0"]

In [98]:
del weather_df["Year"]

In [100]:
weather_df

         Ozone     Solar.R  Wind  Month  Day  Temp Weather
0    41.000000  190.000000   7.4      5    1    67       S
1    36.000000  118.000000   8.0      5    2    72       C
2    12.000000  149.000000  12.6      5    3    74      PS
3    18.000000  313.000000  11.5      5    4    62       S
4    41.583333  185.403974  14.3      5    5    56       S
..         ...         ...   ...    ...  ...   ...     ...
153  41.000000  190.000000   7.4      5    1    67       C
154  30.000000  193.000000   6.9      9   26    70      PS
155  41.583333  145.000000  13.2      9   27    77       S
156  14.000000  191.000000  14.3      9   28    75       S
157  18.000000  131.000000   8.0      9   29    76       C

[158 rows x 7 columns]

In [102]:
# Object to Numeric

In [120]:
weather_df["Month"]=pd.to_numeric(weather_df["Month"])

In [122]:
weather_df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month        int32
Day          int64
Temp         int64
Weather     object
dtype: object

In [124]:
# one_hot encoding and label encoding

In [126]:
df_1=weather_df.copy()

In [128]:
df_2=weather_df.copy()

In [130]:
df_1

         Ozone     Solar.R  Wind  Month  Day  Temp Weather
0    41.000000  190.000000   7.4      5    1    67       S
1    36.000000  118.000000   8.0      5    2    72       C
2    12.000000  149.000000  12.6      5    3    74      PS
3    18.000000  313.000000  11.5      5    4    62       S
4    41.583333  185.403974  14.3      5    5    56       S
..         ...         ...   ...    ...  ...   ...     ...
153  41.000000  190.000000   7.4      5    1    67       C
154  30.000000  193.000000   6.9      9   26    70      PS
155  41.583333  145.000000  13.2      9   27    77       S
156  14.000000  191.000000  14.3      9   28    75       S
157  18.000000  131.000000   8.0      9   29    76       C

[158 rows x 7 columns]

## label encoding

In [134]:
from sklearn.preprocessing import LabelEncoder

In [136]:
le=LabelEncoder()

In [142]:
df_1["Weather"]=le.fit_transform(df_1["Weather"])

In [148]:
#"Categorical data into numerical data"

In [150]:
df_1

         Ozone     Solar.R  Wind  Month  Day  Temp  Weather
0    41.000000  190.000000   7.4      5    1    67        2
1    36.000000  118.000000   8.0      5    2    72        0
2    12.000000  149.000000  12.6      5    3    74        1
3    18.000000  313.000000  11.5      5    4    62        2
4    41.583333  185.403974  14.3      5    5    56        2
..         ...         ...   ...    ...  ...   ...      ...
153  41.000000  190.000000   7.4      5    1    67        0
154  30.000000  193.000000   6.9      9   26    70        1
155  41.583333  145.000000  13.2      9   27    77        2
156  14.000000  191.000000  14.3      9   28    75        2
157  18.000000  131.000000   8.0      9   29    76        0

[158 rows x 7 columns]

In [154]:
df_1.isna().sum()

Ozone      0
Solar.R    0
Wind       0
Month      0
Day        0
Temp       0
Weather    0
dtype: int64

In [156]:
df_1.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month        int32
Day          int64
Temp         int64
Weather      int32
dtype: object

In [164]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

## One hot encoding

In [160]:
One_hot_Encoder=OneHotEncoder()

In [162]:
df_2["Weather"].unique()

array(['S', 'C', 'PS'], dtype=object)

In [168]:
df_2[["C","PS","S"]]=One_hot_Encoder.fit_transform(df_2[["Weather"]]).toarray()

In [170]:
df_2

         Ozone     Solar.R  Wind  Month  Day  Temp Weather    C   PS    S
0    41.000000  190.000000   7.4      5    1    67       S  0.0  0.0  1.0
1    36.000000  118.000000   8.0      5    2    72       C  1.0  0.0  0.0
2    12.000000  149.000000  12.6      5    3    74      PS  0.0  1.0  0.0
3    18.000000  313.000000  11.5      5    4    62       S  0.0  0.0  1.0
4    41.583333  185.403974  14.3      5    5    56       S  0.0  0.0  1.0
..         ...         ...   ...    ...  ...   ...     ...  ...  ...  ...
153  41.000000  190.000000   7.4      5    1    67       C  1.0  0.0  0.0
154  30.000000  193.000000   6.9      9   26    70      PS  0.0  1.0  0.0
155  41.583333  145.000000  13.2      9   27    77       S  0.0  0.0  1.0
156  14.000000  191.000000  14.3      9   28    75       S  0.0  0.0  1.0
157  18.000000  131.000000   8.0      9   29    76       C  1.0  0.0  0.0

[158 rows x 10 columns]

In [174]:
df_3=weather_df.copy()

In [176]:
df_3

         Ozone     Solar.R  Wind  Month  Day  Temp Weather
0    41.000000  190.000000   7.4      5    1    67       S
1    36.000000  118.000000   8.0      5    2    72       C
2    12.000000  149.000000  12.6      5    3    74      PS
3    18.000000  313.000000  11.5      5    4    62       S
4    41.583333  185.403974  14.3      5    5    56       S
..         ...         ...   ...    ...  ...   ...     ...
153  41.000000  190.000000   7.4      5    1    67       C
154  30.000000  193.000000   6.9      9   26    70      PS
155  41.583333  145.000000  13.2      9   27    77       S
156  14.000000  191.000000  14.3      9   28    75       S
157  18.000000  131.000000   8.0      9   29    76       C

[158 rows x 7 columns]

In [178]:
df_3=pd.get_dummies(data=df_3,columns=["Weather"])

In [180]:
df_3

,Ozone,Solar.R,Wind,Month,Day,Temp,Weather_C,Weather_PS,Weather_S
0,41.000000,190.000000,7.4,5,1,67,False,False,True
1,36.000000,118.000000,8.0,5,2,72,True,False,False
2,12.000000,149.000000,12.6,5,3,74,False,True,False
3,18.000000,313.000000,11.5,5,4,62,False,False,True
4,41.583333,185.403974,14.3,5,5,56,False,False,True
...,...,...,...,...,...,...,...,...,...
153,41.000000,190.000000,7.4,5,1,67,True,False,False
154,30.000000,193.000000,6.9,9,26,70,False,True,False
155,41.583333,145.000000,13.2,9,27,77,False,False,True
156,14.000000,191.000000,14.3,9,28,75,False,False,True
157,18.000000,131.000000,8.0,9,29,76,True,False,False